<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container">
        <%- include('./partials/sidebar.ejs') %>
        <main>
            <!-- Popup -->
            <div class="delete">
                <div class="delete__box">
                    <div class="delete__head">
                        <h1 class="delete__title">Delete Plan</h1>
                    </div>
                    <form class="popup__delete__loans">
                        <h2 class="ask__delete__title">Are you sure you want to delete this?</h2>
                        <div class="ask__buttons">
                            <button>Yes</button>
                            <span class="close__delete">No</span>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end of popup -->
            <div class="loan">
                <div class="loan__form">
                    <h1 class="loan__title">Loan Plan's Form</h1>

                    <form class="loan__form__submit">     
                        <div class="loan__box">
                            <label for="type">Plan (months):</label>
                            <input type="number" name="plan" id="plan" required>
                        </div>

                        <div class="loan__box">
                            <label for="description">Interest:</label>
                            <input type="number" name="interest" id="interest" required>
                        </div>

                        <div class="loan__box">
                            <label for="description">Monthly Over due's Penalty:</label>
                            <input type="number" name="penalty" id="penalty" required>
                        </div>
                        
                        <button>Save</button>
                    </form>
                </div>


                <table class="loan__types">
                    <tr>
                        <th>#</th>
                        <th>Plan</th>
                        <th>Action</th>
                    </tr>

                    <% if (loanPlans.length > 0) { %>
                        <% loanPlans.forEach((lp, key) => { %>
                            <tr>
                                <td><%- key + 1 %></td>
                                <td style="display:flex; flex-direction:column">
                                    <span>Years/Months: <%- lp.yearsMonths %>%</span>
                                    <span>Interest: <%- lp.interest %>%</span>
                                    <span>Over due penalty: <%- lp.overduePenalty %>%</span>
                                </td>
                                <td>
                                    <button class="loan__types__edit">Edit</button>
                                    <button class="loan__types__delete" data-id="<%- lp.id %>">Delete</button>
                                </td>
                            </tr>
                        <% }) %>
                    <% } %>
                </table>  
            </div>
        </main>
    </div>

    <script>

        let currentIdSelection = ''

        //DELETE

        const openDeleteModalBtns = document.querySelectorAll('.loan__types__delete');
        const deleteModal = document.querySelector('.delete');
        const closeDeleteModalBtn = document.querySelector('.close__delete');
        const deleteForm = document.querySelector('.popup__delete__loans')

        openDeleteModalBtns.forEach(btn => {
            const id = btn.getAttribute('data-id')
            btn.addEventListener('click', () => {
                currentIdSelection = id
                deleteModal.style.display = 'flex';
            });
        });

        closeDeleteModalBtn.addEventListener('click', () => {
            deleteModal.style.display = 'none';
        });

        deleteForm.addEventListener('submit', async e => {
            e.preventDefault()

            try {
                const response = await fetch(`/loan-plans/${currentIdSelection}`, {
                    method: 'DELETE'
                })
                const data = await response.json()
                if (data === 'ok') location.reload()
            } catch (error) {
                console.log(error)
            }
        })

        // LOAN PLAN FORM

        const form = document.querySelector('.loan__form__submit')

        form.addEventListener('submit', async (e) => {
            e.preventDefault()

            const plan = form.plan.value
            const interest = form.interest.value
            const penalty = form.penalty.value
            
            try {
                const response = await fetch('/loan-plans', {
                    method: 'POST',
                    body: JSON.stringify({ plan, interest, penalty }),
                    headers: { 'Content-Type': 'application/json' }
                })
                const data = await response.json()
                if (data === 'ok') location.reload()
            } catch (error) {
                console.log(error)
            }
        })

    </script>

</body>
</html>